.container{
    max-width: 1000px;
    padding:40px; 
    margin:0 auto;
    text-align: center;

}

h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
}

input{
    padding: 15px;
    border-radius:  20px 0 0 20px;
    border:none;
    width: 60%;
    max-width: 500px;
    outline: none;
}

button{
    background-color: #ff9800;
    border:0; 
    padding: 15px;
    border-radius: 0 20px 20px 0;
    color:#fff;
    cursor: pointer;
    font-weight: bold;

}